$font-base: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-roboto: "Roboto", sans-serif;

$color-primary: #315efb;
$color-primaryDark: #274bc8;
$color-danger: #ff564e;
$color-success: #28bc00;
$color-warn: #ffc000;
$color-black: #000;
$color-white: #fff;
$color-dark: #262626;
$color-fullDark: #000;
$color-blueDark: #343b4c;
$color-blueLight: #d9f3ff;
$color-arrowBlueDark: #6674a6;
$color-snackbarBlueDark: #3d4454;
$color-purpleDeep: #3e217d;
$color-gray: #e3e3e3;
$color-liteBlue: #99c2ff;
$color-textGray: #636363;

$color-button-default: #e6e6e6;
$color-button-primary: #3832e6;
$color-button-danger: #ff564e;

$font-size-base: 16px;
$font-size-small: 12px;
$font-size-middle: 24px;
$font-size-large: 32px;

$line-height-base: 32px;
